services:
  - type: web
    name: fesee-mock-api
    env: node
    region: singapore
    plan: free
    rootDir: mock-api
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
